<div style="width: 300px; margin: auto; margin-top: 100px;" class="login-container">
	<div class="logo-container">
		<img class="img-responsive" src="./assets/LeasyLogo.png"/>
	</div>
	<md-input-container class="md-block" flex-gt-sm>
		<label>Email</label>
		<input ng-model="user.email">
	</md-input-container>

	<md-input-container class="md-block" flex-gt-sm>
		<label>Password</label>
		<input type="password" ng-model="user.password">
	</md-input-container>

	<md-button ng-click="login()" class="md-raised md-primary">Login</md-button>
	<md-button ng-click="signup()" class="md-raised">Signup</md-button>
	<a ng-click="loginfacebook()"><md-button class="md-raised">Login with Facebook</md-button></a>
	<span>{{error}}</span>
</div>
<style>
.navbar{
	display: none;
}
</style>