    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/map">Map</a></li>
            <li><a href="/profile">Personal Profile</a></li>
            <li><a href="/property-profile">Property Profile</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<a href="/profile">Edit your Personal Profile</a>
<a href="/property-profile">Create a Property Profile</a>
<div id="map">
<ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
   <!--  <ui-gmap-marker 
        	ng-repeat="mark in marker"
        	coords="mark.coords" 
        	options="mark.options" 
        	idkey="mark.id"
        	events="map.event">
        </ui-gmap-marker>  -->
  <ui-gmap-marker coords="marker.coords" idkey="marker.id"></ui-gmap-marker>        
</ui-gmap-google-map>
</div>